<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="1px">
  <ion-item *ngFor="let data of dataMock; let i=index" (click)="deleteConfirm(i)">
    <h2>Line: {{data.line}}</h2>
    <p>Machine: {{data.machine}}</p>
    <p>Parameters: {{data.parameter}}</p>
    <p>Start Date: {{data.startDate}}</p>
    <p>Start Time: {{data.startTime}}</p>
    <p>End Date: {{data.endDate}}</p>
    <p>End Time: {{data.endTime}}</p>
  </ion-item>
  <ion-item *ngIf="dataMock.length==0">
    <h2>List is empty!</h2>
  </ion-item>
  <ion-item *ngIf="dataMock.length!=0">
    <button ion-button block (click)="sendQuery(dataMock)"> Download date </button>
    <button ion-button class="button-md-danger" block (click)="deleteAll()"> Empty List </button>
  </ion-item>
</ion-content>
