<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="1px">
  <ion-item *ngFor="let data of dataMock; let i=index" (click)="deleteConfirm(i)">
    <h2>Linea: {{data.line}}</h2>
    <p>Macchina: {{data.machine}}</p>
    <p>Parametri: {{data.parameter}}</p>
  </ion-item>
  <ion-item *ngIf="dataMock.length==0">
    <h2>La lista è vuota</h2>
  </ion-item>
  <ion-item *ngIf="dataMock.length!=0">
    <button ion-button block (click)="sendQuery(dataMock)"> Scarica i dati </button>
    <button ion-button class="button-md-danger" block (click)="deleteAll()"> Svuota lista </button>
  </ion-item>
</ion-content>
