<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sistema di Monitoraggio impianto Bradford</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Linea</ion-label>
    <ion-select [(ngModel)]="Linea">
      <ion-option  *ngFor="let line of linee" value="1">{{line.name}} </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Macchina</ion-label>
    <ion-select [(ngModel)]="Macchina">
      <ion-option *ngFor="let macchina of macchine" value="1">{{macchina.name}} </ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>Params</ion-label>
    <ion-select [(ngModel)]="params" multiple="true">
      <ion-option *ngFor="let params of parametri" value="1"> {{params.name}} </ion-option>
    </ion-select>
  </ion-item>


</ion-content>
