<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Braford impianti</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #formget="ngForm" (ngSubmit)="addForm(formget)">
    <ion-item>
      <ion-label>Linea</ion-label>
      <ion-select [(ngModel)]="linea" name="linea">
        <ion-option *ngFor="let line of lines, let i=index" [value]="line.name"> {{line.name}} </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Macchina</ion-label>
      <ion-select [(ngModel)]="macchina" name="macchina">
        <ion-option *ngFor="let macchina of machines, let i=index" [value]="macchina.name"> {{macchina.name}} </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Params</ion-label>
      <ion-select [(ngModel)]="params" multiple="true" name="params">
        <ion-option *ngFor="let params of parameters, let i=index" [value]="params.name"> {{params.name}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
        <ion-label>Data di inizio</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"   name="startDate" placeholder="data di inizio"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Ora di inizio </ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"   placeholder="ora di inizio" name="startTime"></ion-datetime>
      </ion-item>

    <ion-item>
      <ion-label>Data di fine</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"  placeholder="data di fine" name="endDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ora di fine</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" placeholder="ora di fine" name="endTime"></ion-datetime>
    </ion-item>


    <ion-item>
    <button ion-button block type="submit"> Aggiungi Parametri</button>
    </ion-item>

  </form>
</ion-content>
